//Fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat')
$font-standard: 400 12px/18px 'Montserrat', sans-serif
$font-list-modes: 400 15px/18px 'Montserrat', sans-serif
$font-list-item: 400 20px/18px 'Montserrat', sans-serif
$font-title: 400 50px/18px 'Montserrat', sans-serif

//COLORS
//$bg-color: #00403f
$bg-color: #f5f5f5
$seperator-color: #a5a5a5
$white: #fff
$black: #000
$red: hsla(0, 100%, 50%, 1)