@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Montserrat");
body {
  background: #f5f5f5;
  color: #fff; }

.todo-title {
  display: flex;
  font: 400 50px/18px "Montserrat", sans-serif;
  color: rgba(175, 47, 47, 0.15);
  align-content: center;
  justify-content: center;
  text-align: left;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 20px; }

.todo-list--container {
  width: 500px;
  display: flex;
  flex-direction: column;
  margin: auto;
  font: 400 12px/18px "Montserrat", sans-serif;
  background: #fff;
  color: #000;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1); }

.todo-list--container .todo--list--input .input--newItem {
  display: block;
  font: 400 20px/18px "Montserrat", sans-serif;
  width: 500px;
  height: 30px;
  border: none;
  border-bottom: 1px solid #a5a5a5;
  box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0.03); }

.todo-list--container .todo--list--input .input--newItem input:input-placeholder {
  font-style: italic;
  color: #e6e6e6; }

.todo-list--container .todo-list--list ul {
  list-style-type: none;
  padding-left: 0; }

.todo-list--container .todo-list--list li {
  position: relative;
  font: 400 20px/18px "Montserrat", sans-serif;
  border-bottom: 1px solid #a5a5a5; }

.todo-list--container .todo-list--list li:hover .task--destroy {
  display: block !important; }

.todo-list--container .todo-list--list li .list--task .task--toggle {
  text-align: center;
  width: 40px;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  border: none;
  -webkit-appearance: none;
  appearance: none; }

.todo-list--container .todo-list--list li .list--task .task--text {
  word-break: break-all;
  padding: 15px 15px 15px 50px;
  display: block;
  line-height: 1.2;
  margin-top: auto;
  margin-bottom: auto; }

.todo-list--container .todo-list--list li .list--task .task--destroy {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 10px;
  width: 40px;
  height: 40px;
  margin: auto 0;
  font: 400 20px/18px "Montserrat", sans-serif;
  font-size: 40px;
  color: #af5b5e;
  background: none;
  border: none; }

.todo-list--container .todo-list--list li .list--task .task--destroy:hover {
  display: block; }

.todo-list--container .todo-list--list li .list--task .task--destroy:after {
  content: '×'; }

.todo-list--container .todo-list--list li .list--task .task--toggle {
  opacity: 0; }

.todo-list--container .todo-list--list li .list--task .task--toggle + label {
  background-image: url("../../images/not_checked.svg");
  background-repeat: no-repeat;
  background-position: center left; }

.todo-list--container .todo-list--list li .list--task .task--toggle:checked + label {
  background-image: url("../../images/checked.svg"); }

.todo-list--container .todo-list--panel {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0 1rem 0 1rem;
  font: 400 15px/18px "Montserrat", sans-serif; }

.todo-list--container .todo-list--panel .panel--list-modes {
  justify-content: center;
  align-content: center;
  padding-left: 10%;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px; }

.todo-list--container .todo-list--panel .panel--list-modes a {
  color: #000;
  text-decoration: none;
  padding-right: 10px;
  text-decoration: none; }

.todo-list--container .todo-list--panel .panel--list-modes a:active, .todo-list--container .todo-list--panel .panel--list-modes a:hover, .todo-list--container .todo-list--panel .panel--list-modes a:visited {
  color: #000; }

.todo-list--container .todo-list--panel .panel--list-modes a:last-child {
  padding: 0 0 0 15px; }

.styled-checkbox {
  position: absolute;
  opacity: 0; }

.styled-checkbox + label {
  position: relative;
  cursor: pointer;
  padding: 0; }

.styled-checkbox + label:before {
  content: '';
  margin-right: 10px;
  display: inline-block;
  vertical-align: text-top;
  width: 20px;
  height: 20px;
  background: white; }

.styled-checkbox:hover + label:before {
  background: #f35429; }

.styled-checkbox:focus + label:before {
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12); }

.styled-checkbox:checked + label:before {
  background: #f35429; }

.styled-checkbox:disabled + label {
  color: #b8b8b8;
  cursor: auto; }

.styled-checkbox:disabled + label:before {
  box-shadow: none;
  background: #ddd; }

.styled-checkbox:checked + label:after {
  content: '';
  position: absolute;
  left: 5px;
  top: 9px;
  background: white;
  width: 2px;
  height: 2px; }

.styled-checkbox 2px 0 0 white,
.styled-checkbox 4px 0 0 white,
.styled-checkbox 4px -2px 0 white,
.styled-checkbox 4px -4px 0 white,
.styled-checkbox 4px -6px 0 white,
.styled-checkbox 4px -8px 0 white {
  transform: rotate(45deg); }
